.nova-input {
  font-size: 14px;
  line-height: 20px;
  box-sizing: border-box;
  height: 30px;
  padding: 5px;
  width: 200px;
  vertical-align: top;
  border: 1px solid var(--nova-border-color);
  background-color: var(--nova-bg);
}
