.nova-color-picker {
  font-family: var(--nova-font-sans-serif);
  display: inline-block;
  vertical-align: top;
  line-height: var(--nova-line-height);

  &:not(.nova-color-picker-disabled) {
    &:hover {
      .nova-color-picker-trigger {
        border: var(--nova-border-primary);
      }
    }
  }

  &.nova-dropdown-opened .nova-color-picker-trigger,
  &:not(.nova-color-picker-disabled) .nova-color-picker-trigger:focus {
     {
      border: var(--nova-border-primary);
      box-shadow: var(--nova-shadow-primary);
    }
  }
}

.nova-color-picker-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
