.nova-color-picker {
  font-family: var(--nova-font-sans-serif);
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
  line-height: var(--nova-line-height);

  &:not(.nova-color-picker-disabled) {
    &:hover {
      .nova-color-picker-border {
        border: var(--nova-border-primary);
      }
    }
  }

  &:focus {
    outline: none;
  }

  &:not(.nova-color-picker-disabled):focus,
  &.nova-color-picker-opened {
    .nova-color-picker-border {
      border: var(--nova-border-primary);
      box-shadow: var(--nova-shadow-primary);
    }
  }
}

.nova-color-picker-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.nova-color-picker-border {
  pointer-events: none;
  background-color: var(--nova-color-bg-component);
  width: 30px;
  height: 30px;
  border-radius: var(--nova-radius);
  border: var(--nova-border);
  transition: var(--nova-transition-component);
}
