.nova-color-picker-trigger {
  background-position: center center;
  background-clip: content-box;
  padding: 5px;
  margin-top: -30px;
}

.nova-color-picker-trigger-inner {
  background-image: var(--nova-bg-checkerboard);
  border-radius: var(--nova-radius-tiny);
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}

.nova-color-picker-trigger-bg {
  width: 20px;
  height: 20px;
}
