.nova-color-picker-trigger {
  background-position: center center;
  background-image: var(--nova-checkerboard-bg);
  background-clip: content-box;
  padding: 4px;
}

.nova-color-picker-trigger-inner {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: top;
}
