.nova-color-picker-trigger {
  background-color: var(--nova-color-bg-component);
  border: var(--nova-border);
  border-radius: var(--nova-radius);
  transition: var(--nova-transition-component);

  &:focus {
    outline: none;
  }
}

.nova-color-picker-trigger-inner {
  margin: 4px;
  background-image: var(--nova-bg-checkerboard);
  border-radius: var(--nova-radius-tiny);
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}

.nova-color-picker-trigger-bg {
  width: 20px;
  height: 20px;
}
