.nova-color-picker-form {
  margin-top: 5px;
  margin-right: 10px;
  will-change: transform;
}

.nova-color-picker-labels {
  justify-content: flex-end;
  display: flex;
}

.nova-color-picker-label {
  box-sizing: border-box;
  width: 55px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
}

.nova-color-picker-panel-has-alpha .nova-color-picker-label {
  width: 40px;
}

.nova-color-picker-label-text {
  line-height: var(--nova-line-height);
  height: 20px;
  text-align: center;
}

.nova-color-picker-input,
.nova-color-picker-hex {
  box-sizing: border-box;
  height: 25px;
}

.nova-color-picker-input-border {
  box-sizing: border-box;
  height: 25px;
  border: 1px solid var(--nova-cpmponent-border-color);
  pointer-events: none;
  margin-top: -25px;
  border-radius: var(--nova-border-radius);
}

.nova-color-picker-input input,
.nova-color-picker-hex input {
  vertical-align: top;
  color: var(--nova-color);
  border: none;
  background: none;
  height: 25px;
  line-height: 25px;
  padding: 0;
  text-align: center;
  font-size: var(--nova-font-size);
  width: 100%;
  font-family: var(--nova-monospace);
  will-change: contents;
}

.nova-color-picker-input input:focus,
.nova-color-picker-hex input:focus {
  outline: none;
}

.nova-color-picker-input input:focus + .nova-color-picker-input-border,
.nova-color-picker-hex input:focus + .nova-color-picker-input-border {
  border: var(--nova-primary-border);
  box-shadow: var(--nova-primary-shadow);
}

.nova-color-picker-input {
  width: 100%;
}

.nova-color-picker-output {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
}

.nova-color-picker-hex {
  width: 115px;
}

.nova-color-picker-panel-has-alpha .nova-color-picker-hex {
  width: 85px;
}

.nova-color-picker-labels-switch {
  width: 20px;
  height: 25px;
  margin-top: -25px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--nova-border-radius);
}

.nova-color-picker-labels-switch:before,
.nova-color-picker-labels-switch:after {
  width: 0;
  height: 0;
  border-style: solid;
  content: '';
  display: block;
}

.nova-color-picker-labels-switch:before {
  border-width: 0 3px 3px 3px;
  border-color: transparent transparent var(--nova-symbol-color) transparent;
  margin-bottom: 2px;
}

.nova-color-picker-labels-switch:after {
  border-width: 3px 3px 0 3px;
  border-color: var(--nova-symbol-color) transparent transparent transparent;
  margin-top: 2px;
}

.nova-color-picker-labels-switch:hover {
  background-color: var(--nova-bg);
}

.nova-color-picker-labels-switch:hover:before {
  border-color: transparent transparent var(--nova-color) transparent;
}

.nova-color-picker-labels-switch:hover:after {
  border-color: var(--nova-color) transparent transparent transparent;
}
