.nova-color-picker-panel {
  line-height: var(--nova-line-height);
  font-family: var(--nova-font-sans-serif);
  user-select: none;
  position: absolute;
  padding: 10px;
  font-size: var(--nova-font-size);
  color: var(--nova-color-font);
  background-color: var(--nova-color-bg-dropdown);
  backdrop-filter: var(--nova-backdrop-filter-component);
  width: 330px;
  display: grid;
  grid-template-columns: 220px auto;
  will-change: transform;
  border-radius: var(--nova-radius-component);
}

.nova-color-picker-panel-border {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: var(--nova-shadow-dropdown);
  border-radius: var(--nova-radius-component);
}
