.nova-color-picker-panel {
  user-select: none;
  position: absolute;
  box-sizing: border-box;
  padding: 10px;
  font-size: 12px;
  color: #ffffff;
  background-color: #333333;
  width: 330px;
  display: grid;
  grid-template-columns: 220px auto;
  grid-column-gap: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}
