.nova-color-picker-panel {
  font-family: var(--nova-sans-serif);
  user-select: none;
  position: absolute;
  box-sizing: border-box;
  padding: 10px;
  font-size: 12px;
  color: var(--nova-color);
  background-color: var(--nova-component-bg);
  width: 330px;
  display: grid;
  grid-template-columns: 220px auto;
  grid-column-gap: 10px;
  box-shadow: var(--nova-dropdown-shadow);
  will-change: transform;
}
