.nova-color-picker-presets {
  grid-column: 1 / -1;
  display: grid;
  grid-template: repeat(auto-fill, 20px) / repeat(auto-fill, 20px);
  grid-gap: 10px;
  margin: 15px 0 5px 10px;
}

.nova-color-picker-preset {
  background: var(--checkerboard-bg);
  background-color: #333333;
}

.nova-color-picker-preset-inner {
  height: 20px;
}

.nova-color-picker-preset:hover {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.nova-color-picker-preset.nova-color-picker-preset-selected {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
}
