.nova-color-picker-preview-prev,
.nova-color-picker-preview-curr {
  border-radius: var(--nova-radius-tiny);
  width: 40px;
  height: 40px;
  will-change: background-color;
}

.nova-color-picker-preview {
  margin-top: 20px;
  margin-bottom: 10px;
}

.nova-color-picker-preview-prev {
  border: 1px solid var(--nova-color-symbol);
  margin-top: -60px;
}

.nova-color-picker-preview-curr {
  margin-top: -20px;
  margin-left: 20px;
  border: 1px solid var(--nova-color-symbol);
}

.nova-color-picker-preview-fill-right,
.nova-color-picker-preview-fill-left {
  border-radius: var(--nova-radius-tiny);
  background-image: var(--nova-bg-checkerboard);
  background-color: var(--nova-color-bg);
  width: 40px;
  height: 40px;
}

.nova-color-picker-preview-fill-right {
  margin-top: -20px;
  margin-left: 20px;
}

.nova-color-picker-preview-fill-left {
}
