[class^='nova-'] {
  box-sizing: border-box;
}

.md-icon {
  vertical-align: top;
  display: inline-block;

  svg {
    vertical-align: top;
    display: inline-block;
  }
}

.nova-trap {
  position: absolute;
}
