[data-theme='dark'] {
  --nova-color: hsl(0, 0%, 80%);
  --nova-dropdown-bg: hsl(0, 0%, 20%);
  --nova-bg: hsl(0, 0%, 10%);
  --nova-border-color: hsla(0, 0%, 100%, 0.1);
  --nova-shadow-color: hsla(0, 0%, 100%, 0.2);
  --nova-symbol-color: hsla(0, 0%, 100%, 0.5);
  color: var(--nova-color);
  background-color: var(--nova-bg);
}
