[data-nova-theme='dark'] {
  --nova-color: hsl(0, 0%, 80%);
  --nova-component-bg: hsl(0, 0%, 20%);
  --nova-bg: hsl(0, 0%, 10%);
  --nova-cpmponent-border-color: hsla(0, 0%, 100%, 0.1);
  --nova-border-color: hsla(0, 0%, 100%, 0.2);
  --nova-symbol-color: hsla(0, 0%, 100%, 0.5);
}
