[data-nova-theme='light'] {
  --nova-color: hsl(0, 0%, 20%);
  --nova-component-bg: hsl(0, 0%, 100%);
  --nova-bg: hsl(0, 0%, 90%);
  --nova-cpmponent-border-color: hsla(0, 0%, 0%, 0.1);
  --nova-border-color: hsla(0, 0%, 0%, 0.2);
  --nova-symbol-color: hsla(0, 0%, 0%, 0.5);
}
