[data-nova-theme='light'] {
  --nova-color-font: hsla(0, 0%, 0%, 0.8);
  --nova-color-bg-component: hsl(0, 0%, 100%);
  --nova-color-bg-dropdown: hsla(0, 0%, 100%, 0.5);
  --nova-color-bg: hsl(0, 0%, 80%);
  --nova-color-border-component: hsla(0, 0%, 0%, 0.2);
  --nova-color-border: hsla(0, 0%, 0%, 0.3);
  --nova-color-symbol: hsla(0, 0%, 0%, 0.5);

  --nova-border: 1px solid var(--nova-color-border);

  --nova-backdrop-filter-component: blur(20px) brightness(120%);
}
