[data-nova-theme='light'] {
  --nova-color: hsla(0, 0%, 0%, 0.8);
  --nova-component-bg: hsl(0, 0%, 100%);
  --nova-dropdown-bg: hsla(0, 0%, 100%, 0.5);
  --nova-bg: hsl(0, 0%, 80%);
  --nova-cpmponent-border-color: hsla(0, 0%, 0%, 0.2);
  --nova-border-color: hsla(0, 0%, 0%, 0.3);
  --nova-border: 1px solid var(--nova-border-color);
  --nova-symbol-color: hsla(0, 0%, 0%, 0.5);
  --nova-component-backdrop-filter: blur(20px) brightness(120%);
}
