body {
  margin: 0;
  font-family: Helvetica, Arial, 'PingFang SC', 'Source Han Sans CN',
    'Microsoft YaHei', sans-serif;
}

#header {
  padding: 10px;
}

#nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

#nav li {
  list-style: none;
  margin-right: 10px;
}

#nav li a {
  color: #2299ee;
}

#main {
  padding: 10px;
}

#main a {
  color: #2299ee;
}
