body {
  margin: 0;
  line-height: 30px;
  font-family: var(--nova-sans-serif);
  background-color: var(--nova-bg);
  color: var(--nova-color);
}

#page {
  min-height: 100vh;
}

#header {
  padding: 10px;
}

#nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

#nav li {
  list-style: none;
  margin-right: 10px;
}

#nav li a {
  color: #2299ee;
}

#main {
  padding: 10px;
}

#main a {
  color: #2299ee;
}

.nova-button,
.nova-input {
  margin-left: 5px;
}
