.nova-button {
  font-family: var(--nova-sans-serif);
  vertical-align: top;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  line-height: var(--nova-line-height);
  min-height: 30px;
  padding: 4px 14px;
  font-size: var(--nova-font-size);
  border-radius: var(--nova-border-radius);
  border: var(--nova-border);
  background-color: var(--nova-component-bg);
  color: var(--nova-color);
}

.nova-button:not([disabled]):focus {
  outline: none;
  border: var(--nova-primary-border);
  box-shadow: var(--nova-primary-shadow);
}

.nova-button:not([disabled]):hover {
  border: var(--nova-primary-border);
  color: var(--nova-primary-color);
}

.nova-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
