.nova-button {
  vertical-align: top;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  line-height: 20px;
  padding: 4px 14px;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid var(--nova-border-color);
  background-color: var(--nova-bg);
}
